{% include "shared/header.html" %}
<script>
	current('home');
</script>
<div id="page" onload="current('home');">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				{% for post in posts %}
				<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }} </a></h2>
							<p class="meta"><span class="date">{{ post.published|date:"d/m/Y" }}</span> {{ post.published|date:"h:m:s" }} Posted by <a href="#">{{ post.author }}</a></p>
							<div class="entry">
								{{ post.body|truncatewords:"30"|safe }}
							</div>
						</div>
					</div>
				</div>
				{% empty %}
					<div class="post">
						<div class="entry">
							Não existe nenhum post.
						</div>
					</div>
				{% endfor %}
			</div>
			{% include "shared/side_bar.html" %}
		</div>
	</div>
</div>
{% include "shared/footer.html" %}