{% include "shared/header.html" %}
<script>
	current('home');
</script>
</hr>
<div id="show-post">
	<div id="page-bgtop">
		<div id="content">
			{% load comments %}
			<div class="post">
				<div class="post-bgtop">
					<div class="post-bgbtm">
						<center>
							{% if post %}
								<h2 class="title"> {{ post.title }} </h2>
								{{ post.body|safe }}
							{% else %}
        						<h1>Nao existe</h1>
							{% endif %}
						</center>
					</div>
				</div>
				<div class="post">
					{% get_comment_list for post as comments %}
					{% if comments %}
						<center>
							<h2>Comentários</h2>
						</center>
					{% endif %}
					<ul>
					{% for comment in comments %}
						<div id="comments">
								Nome: {{ comment.name }}
								{% if comment.url %}URL: {{ comment.url }}{% endif %}<br/>
								{{ comment.comment|linebreaks }}
						</div>
					{% endfor %}
					<ul>
					<h3>Deixe um comentário</h3>
					{% render_comment_form for post %}
				</div>
			</div>
		</div>
		{% include "shared/side_bar.html" %}
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
{% include "shared/footer.html" %}
