{% include "shared/header.html" %}
<script>
	current('home');
</script>
<div id="page" onload="current('home');">
	<div id="page-bgtop">
		<div id="content">
			{% load comments %}
			<div class="post">
				{% if post %}
					<p class="meta"><span class="date">{{ post.published|date:"d/m/Y" }}</span> {{ post.published|date:"H:m:s" }} Escrito por <a href="#">{{ post.author }}</a></p>
					<h2 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}  </a></h2>
					<div class="entry">
						{{ post.body|safe }}
					</div>
				{% else %}
					<div class="entry">
						Não existe post
					</div>
				{% endif %}
			</div>
			<div class="post">
				<div >
					{% get_comment_list for post as comments %}
					{% if comments %}
						<center>
							<h2>Comentários</h2>
						</center>
					{% endif %}
					
					{% for comment in comments %}
						<div class="comments">
						{{ comment.name }} disse:
						{{ comment.comment|linebreaks }}
						{% if comment.url %}URL: {{ comment.url }}{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="post">
				<h3>Deixe um comentário</h3>
				{% render_comment_form for post %}
			</div>
		</div>
		<!-- end #content -->
		{% include "shared/side_bar.html" %}
	</div>
{% include "shared/footer.html" %}
