{% include "shared/header.html" %}
<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<br>
							<center>
								<h2 class="singletitle"> Contato </h2> 
							</center>
							{% if show %}
								<h2 class="singletitle">{{ show }} </h2>
							{% endif %}
							<br>
							{% include 'shared/error.html' %}
							<table>
							<form action="/contato/" method="POST">
								{% for field in form %}
								    <div class="fieldWrapper">
								        {{ field.label_tag }}:<br>
								 		{{ field }}<br>
								    </div>
								{% endfor %}
								<input type="submit" value="submit">
							</form>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% include 'shared/side_bar.html' %}
		</div>
	</div>
</div>
{% include "shared/footer.html" %}