<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : OffRecord 
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20100705

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Off Record  by Free CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- end #header-wrapper -->
<div id="header">
        <div id="logo">
                <h1><a href="#">Ecofriend </a></h1>
                <p><em> Meio Ambiente</em></p>
        </div>
        <div id="menu">
                <ul>
                        <li><a href="/" class="first" class="current_page_item">Homepage</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                </ul>
        </div>
        <!-- end #menu -->
</div>
<!-- end #header -->