<div id="sidebar">
	<ul>
		<li>
			<h2>Categorias </h2>
			{% load categories %}
			{% get_categories %}
			<ul>
				{% for category in get_all_categories %}
					<li><a href="{% url posts-by-category category.id %}">{{ category.description }}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<h2>Tags </h2>
			<ul>
				<li><a href="#">Tag 1</a></li>
				<li><a href="#">Tag 2</a></li>
				<li><a href="#">Tag 3</a></li>
				<li><a href="#">Tag 4</a></li>
			</ul>
		</li>
		<li>
			<h2>Links</h2>
			{% load links %}
			{% get_links %}
			<ul>
				{% for link in get_all_links %}
					<li><a href="http://{{ link.url }}" target="_blank">{{ link.url }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>