<div id="sidebar">
	<ul>
		<li>
			<h2>Aliquam tempus</h2>
			<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
		</li>
		<li>
			<h2>Categorias </h2>
			{% load categories %}
			{% get_categories %}
			<ul>
				{% for category in get_all_categories %}
					<li><a href="{% url posts-by-category category.id %}">{{ category.description }}</a></li>
				{% endfor %}
			</ul>
		</li>

		<li>
			<h2>Links</h2>
			{% load links %}
			{% get_links %}
			<ul>
				{% for link in get_all_links %}
					<li><a href="http://{{ link.url }}" target="_blank">{{ link.url }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>