<div id="sidebar">
	<ul>
		<li>
			<h2>Quem somos</h2>
			<p>
				Amigos que querem compartilhar e dissipar informações
				para que uma consciência ambiental seja criada e que a partir dessa
				consciência, atitudes comecem a surgir cada vez mais, visando à
				melhoria contínua de nosso meio ambiente! Temos como objetivo,
				compartilhar a maior quantidade de informações, de inúmeros gêneros e
				espécies, seja ela social, tecnológica ou científica. Também deixando
				é claro, um espaço para que perguntas, opiniões ou indagações sejam
				postas, assim poderemos ampliar muito mais nossos conhecimentos.
				Consideramos que a integridade de nossa existência como pessoa, está
				diretamente relacionada à integridade do nosso planeta e da vida, por
				isso vamos cuidar direitinho da Terra e zelar para que as futuras
				gerações possam desfrutar de tudo o que é a nós oferecido.
			</p>
		</li>
		<li>
			<h2>Categorias </h2>
			{% load categories %}
			{% get_categories %}
			<ul>
				{% for category in get_all_categories %}
					<li><a href="{% url posts-by-category category.id %}">{{ category.description }}</a></li>
				{% endfor %}
			</ul>
		</li>

		<li>
			<h2>Links</h2>
			{% load links %}
			{% get_links %}
			<ul>
				{% for link in get_all_links %}
					<li><a href="http://{{ link.url }}" target="_blank">{{ link.url }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>